{% extends 'client/base.html' %}

{% block content %}

<div class="container mt-4">
    <a href="{% url 'customer:index' %}" class="btn btn-outline-primary my-3 mx-4">Go Back</a>
    <div class="row justify-content-center">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 fw-light text-secondary">Shop</h1>
            <!-- filter -->
            <div class="row mb-3">
                <div class="col">
                    <form method="get" class="d-flex align-items-center gap-2">
                        {% for field in filter.form %}
                            <div class="form-group mb-0">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary col d-flex justify-content-end">Search</button>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-dark  ">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inventory_item in inventory_items %}
                        <tr>
                            <td>{{ inventory_item.user.company_name }}</td>  
                            <td>{{ inventory_item.name }}</td>
                            <td>{{ inventory_item.quantity }}</td>
                            <td>{{ inventory_item.price }}</td>
                            <td>
                                <form action="{% url 'customer:add-to-cart' inventory_item.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group input-group-sm">
                                        <input type="number" name="quantity" class="form-control" min="1">
                                        <div class="input-group-append">
                                    <button class="add-to-cart-btn" data-item-id="{{ item.id }}">+</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

