{% extends 'client/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-4 fw-light text-secondary pt-4">Cart <span class="">Items ({{ cart_count }})</span></h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 mx-auto">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-dark w-auto mx-auto">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Update Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>{{ cart_item.inventory_item.name }}</td>
                            <td>{{ cart_item.quantity }}</td>
                            <td>{{ cart_item.inventory_item.price }}</td>
                            <td>
                                <form action="{% url 'customer:edit-cart-item' cart_item.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" class="form-control form-control-sm w-auto d-inline">
                                    <button type="submit" class="btn btn-success btn-sm">Update</button>
                                </form>
                                <form action="{% url 'customer:remove-from-cart' cart_item.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-sm">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form method="post" action="{% url 'customer:checkout' %}">
                {% csrf_token %}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-lg btn-primary">Checkout</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
