{% extends 'client/base.html' %}

{% block content %}
<div class="container my-5 py-5">
	<div class="row justify-content-center">
		<div class="col-lg-8 mx-auto text-center">
			<h1 class="display-4 fw-light text-primary">Welcome to the Airhouse Consumer Portal</h1>
			<p class="lead fw-light mt-4">Via the Airhouse Consumer Portal, costumers can sift through registered companies and order directly from existing inventory!</p>
			<div class="mt-5">
				<a href="#" class="btn btn-lg btn-primary">Place Order</a>
                <a href="#" class="btn btn-lg btn-secondary">Create Consumer Profile</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}