<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-custom fixed-top" style="transition: background-color 0.3s ease;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'entry' %}" style="color: white;">Airhouse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
            <span class="navbar-toggler-icon" style="color: white;"></span>
        </button>
        <!-- Left side of navbar -->
        <div class="collapse navbar-collapse justify-content" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'inventory_list' %}active{% endif %}" aria-current="page" href="{% url 'customer:inventory' %}" style="color: white;">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'inventory_list' %}active{% endif %}" aria-current="page" href="{% url 'customer:orders' %}" style="color: white;">Orders</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- right side of navbar -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'inventory_list' %}active{% endif %}" aria-current="page" href="{% url 'customer:cart' %}" style="color: white;">Cart <span class="badge bg-secondary">{{ cart_count }}</span></a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <form action="{% url 'customer:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="color: white;">Logout</button>
                        </form>
                    {% else %}
                        <a class="nav-link" href="{% url 'customer:login' %}" style="color: white;">Sign In</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("mainNavbar").style.backgroundColor = "rgba(0, 0, 0, 0.95)";
        } else {
            document.getElementById("mainNavbar").style.backgroundColor = "transparent";
        }
    }
</script>


