{% extends 'client/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Orders</h1>

    {% if orders %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Items</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.order_no }}</td>
                    <td>{{ order.recipient }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for item in order.order_items.all %}
                            <li>{{ item.inventory_item.name }} (Quantity: {{ item.quantity }})</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No orders found.</p>
    {% endif %}
</div>
{% endblock content %}
