{% extends 'airhouse/base.html' %}  

{% block content %}



<div class="row">
   
    <div class="col-md-10 col-12 mx-auto mt-5">
        <h1><a href="{% url 'orders' %}" class="text-reset text-decoration-none">Orders</a></h1>
        <div class="d-flex justify-content-end">
            <a href="{% url 'add-order' %}" class="btn btn-outline-secondary">Create Order</a>
            <a href="#" class="btn btn-outline-secondary">Upload Bulk Order</a>
            <a href="#" class="btn btn-outline-secondary">Export</a>
        </div>

        <form method="get" class="d-flex align-items-end gap-2">
            {% for field in myFilter.form %}
                <div class="form-group">
                    {% if field.name in "order_source,recipient,skus_ordered" %}
                        <!-- Only render the widget for specific fields -->
                        {{ field }}
                    {% else %}
                        <!-- Render the field with its label for other fields -->
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">ORDER NO.</th>
                    <th scope="col">RECIPIENT</th>
                    <th scope="col">ORDER DATE</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">PAYMENT</th>
                    <th scope="col">ORDER SOURCE</th>
                    <th scope="col">SKUS ORDERED</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if orders|length == 0 %}
                <tr>
                    <th scope="row">-</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
                {% endif %}

                {% for order in orders %}
                <tr>
                    <th scope="row"><a href="{% url 'order-detail' order.pk %}">{{ order.order_no|stringformat:"s"|slice:":8" }}</a></th>
                    <td>{{ order.recipient }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>${{ order.get_payment_display }}</td>
                    <td>{{ order.order_source }}</td>
                    <td>
                        {% for item in order.order_items.all %}
                            {{ item.inventory_item.name }} (Quantity: {{ item.quantity }})
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'edit-order' order.pk %}" class="btn btn-outline-secondary">Edit</a></td>
                    <td><a href="{% url 'delete-order' order.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
                {% empty %}
                    <h2>No orders found.</h2>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}