{% extends 'airhouse/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <a href="javascript:history.back()" class="btn btn-outline-primary my-3">Go Back</a>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mb-3">{% if form.instance.pk %}Edit Order{% else %}Add Order{% endif %}</h1>
            <form method="POST" id="orderForm">
                {% csrf_token %}
                {{ form|crispy }}

                <h4>Order Items</h4>
                <div id="formset-container">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="formset-row">
                            {{ form|crispy }}
                        </div>
                    {% endfor %}
                </div>
                <button type="button" id="add-item" class="btn btn-info mt-2">Add another item</button>
                
                <button type="submit" class="btn btn-primary mt-2">{% if form.instance.pk %}Update Order{% else %}Add Order{% endif %}</button>
            </form>
        </div>
    </div>
</div>

<script>
function updateElementIndex(el, prefix, index) {
    var idRegex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + index + '-';
    if (el.id) el.id = el.id.replace(idRegex, replacement);
    if (el.name) el.name = el.name.replace(idRegex, replacement);
    if (el.htmlFor) el.htmlFor = el.htmlFor.replace(idRegex, replacement);
}

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('add-item').addEventListener('click', function () {
        var formsetContainer = document.getElementById('formset-container');
        var totalForms = document.getElementById('id_{{ formset.prefix }}-TOTAL_FORMS');
        var formCount = parseInt(totalForms.value);
        var newForm = formsetContainer.querySelector('.formset-row:last-of-type').cloneNode(true);

        updateElementIndex(newForm, '{{ formset.prefix }}', formCount);
        newForm.querySelectorAll('input,select,textarea,label').forEach(function(field) {
            // Clear the value of the inputs in the cloned form
            if (field.tagName === 'INPUT' || field.tagName === 'TEXTAREA') field.value = '';
            updateElementIndex(field, '{{ formset.prefix }}', formCount);
        });

        formsetContainer.appendChild(newForm);
        totalForms.value = formCount + 1; // Increment the form count
    });
});
</script>
{% endblock content %}
